/* 공통요소 */

body {
    font-size: 12px;
    line-height: 16px;
    color: #202020;
    font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif;
}
/* 공용 화장실 */
.header .logo, 
.header .search-area .btn-submit::after,
.sc-news .group-title .set-area .btn-set::after,
.header .service-area > *:after,
.sc-timesquare .nav-wrap .btn-nav::after,
.sc-news .group-issue .issue-area > *:after {
    background-image: url(../images/sp-bg.png);
    background-repeat: no-repeat;
    background-size: 457px;
}

.blind {
    position: absolute;
    width: 1px; height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
}

.thumb-bd {
    display: block;
    position: relative;
}
.thumb-bd::after {
    position: absolute;
    content: '';
    top: 0;left: 0;
    right: 0;bottom: 0;
    border: 1px solid #000;
    opacity: 0.1;
}