* {
  margin: 0;
  padding: 0;
}

body {
  background: #ccc;
  margin: 10px 10px 10px 160px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  background: #f00;
  height: 100%;
  width: 150px;
}

main {
  margin: 10px auto;
}

.box1 {
  height: 100px;
  background: #fff;
}

.box2 {
  display: flex;
  gap: 10px;
}
.box2 div {
  flex: 1;
  height: 200px;
  background: #fff;
}

.box5 {
  display: flex;
}
.box5 div {
  height: 100px;
  background: #fff;
  width: 80%;
}
.box5 div:last-child {
  width: 20%;
}
.box5 > * + * {
  margin-left: 10px;
}

.box6 {
  display: flex;
  justify-content: space-between;
}
.box6 div {
  width: calc(30% - 5px);
  height: 100px;
  background: #fff;
}
.box6 div:last-child {
  width: calc(70% - 5px);
}

.box1, .box3, .box4, .box7 {
  height: 100px;
  background: #fff;
  margin-bottom: 10px;
}

.box2, .box5, .box6 {
  margin-bottom: 10px;
}