* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
  max-width: 100%;
}

header {
  background: #888;
  height: 200px;
  position: relative;
}
header h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
header a {
  display: block;
  background: #fff;
  padding: 10px;
}
header .sns {
  position: absolute;
  left: 0;
  background: #fff;
  padding: 10px;
}
header .login {
  position: absolute;
  right: 0;
  background: #fff;
  padding: 10px;
}

.box1 {
  position: relative;
  background: #ccc;
  height: 300px;
  display: flex;
  justify-content: center;
}
.box1 .btn.prev {
  position: absolute;
  top: 50%;
  left: 10px;
  background: #fff;
  padding: 10px;
}
.box1 .btn.next {
  position: absolute;
  top: 50%;
  right: 10px;
  background: #fff;
  padding: 10px;
}
.box1 .page {
  position: absolute;
  bottom: 10px;
  display: flex;
  gap: 10px;
}
.box1 span {
  display: block;
  background: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.box1 .active {
  background: #00f;
}

.box2 {
  width: 800px;
  margin: 10px auto;
}
.box2 h2 {
  font-size: 50px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}
.box2 ul {
  display: flex;
  gap: 10px;
}
.box2 a {
  flex: 1;
  padding: 10px;
  background: #000;
  display: block;
}
.box2 img {
  height: 300px;
}
.box2 p {
  background: #fff;
  height: 30px;
}

.box3 {
  background: #888;
  padding: 100px 0;
}
.box3 ul {
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.box3 li {
  background: #fff;
  flex-basis: 100px;
}